.mainContainer {
    min-width: var(--layout-offset);
    max-width: var(--layout-offset);
    min-height: 100%;
    margin: auto;
    display: block;
    padding: var(--padding-large);
    background-color: white;
}