.navContainer {
    min-width: 100% - var(--layout-offset);
    min-height: 100vh;
    max-height: 100vh;
    background-color: var(--orange);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--padding-default);
    padding-right: var(--padding-default);
    text-align: left;
    position: sticky;
    overflow: scroll;
    top: 0px;
}

a > h1{
    padding: var(--padding-default);
}

.navButton {
    display: flex;
    margin: var(--padding-default)
}